{% extends 'base.html.twig' %}

{% block title %}Nouvel Event{% endblock %}

{% block body %}
    <h1>Créer nouvel event</h1>

    {{ include('calendar/_form.html.twig') }}

    <a href="{{ path('calendar_index') }}">Retour à la liste</a>
{% endblock %}
