{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}
{% block navbar %} {{ parent() }} {% endblock %}
{% block content %}
    <div class="navbar-sec">
        <ul id="nav-sec">
            <li><a href="/">Planning Home</a></li>
            <li><a href="/gadmin">Gardes Administratives</a></li>
            <li><a href="/med">Gardes Médicales</a></li>
            <li><a href="/tech">Gardes Techniques</a></li>
            <li><a href="/soins">Gardes des Soins</a></li>
            <li><a href="/ssiad">Astreintes SSIAD</a></li>
            <li><a href="/rouvray">Garde de soins - site Le Rouvray</a></li>
        </ul>
    </div>

    <div id="calendrier">
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendrier")
            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'dayGridMonth',
                locale: 'fr',
                timeZone: 'Europe/Paris',
                contentHeight: 'auto',
                firstDay: 1,
                showNonCurrentDates: true,
                weekNumbers: true,
                weekText: 'S',
                navLinks: true,
                businessHours: {
                    startTime: '09:00',
                    endTime: '17:00'
                },
                headerToolbar: {
                    start:'prev,next today',
                    center:'title',
                    end:'dayGridMonth,timeGridWeek,timeGridDay',
                },
                buttonText: {
                    today:'aujourd\'hui',
                    month:'mois',
                    week:'semaine',
                    day:'jour',
                    list:'liste'
                },
                events: {{ data | raw }},
                editable: true,
                eventDrop: (data) => {
                    if(!confirm("Êtes-vous sûr de vouloir déplacer cet évènement?")){
                        data.revert();
                    }
                },
                eventClick: function (event, view){

                }
            })
            calendar.on('eventChange', (e) => {
                let url = `/api/${e.event.id}/edit`
                let donnees = {
                    "title": e.event.title,
                    "start": e.event.start,
                    "end": e.event.end,
                    "description": e.event.extendedProps.description,
                    "allDay" : e.event.allDay
                }

                let xhr = new XMLHttpRequest

                xhr.open("PUT", url)
                xhr.send(JSON.stringify(donnees))
            })

            calendar.render()
        }
    </script>
{% endblock %}