{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}
{% block navbar %} {{ parent() }} {% endblock %}
{% block content %}
    <div class="navbar-sec">
        <ul id="nav-sec">
            <li><a href="/">Planning Home</a></li>
            <li><a href="/gadmin">Gardes Administratives</a></li>
            <li><a href="/med">Gardes Médicales</a></li>
            <li><a href="/tech">Gardes Techniques</a></li>
            <li><a href="/soins">Gardes des Soins</a></li>
            <li><a href="/ssiad">Astreintes SSIAD</a></li>
            <li><a href="/rouvray">Garde de soins - site Le Rouvray</a></li>
        </ul>
    </div>

    <div id="calendrier">
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendrier")
            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'dayGridMonth'
            })
            calendar.render()
        }
    </script>
{% endblock %}