{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}
{% block navbar %} {{ parent() }} {% endblock %}
{% block content %}
    <div class="navbar-sec">
        <ul id="nav-sec">
            <li><a href="/">Planning Home</a></li>
            <li><a href="/">Gardes Administratives</a></li>
            <li><a href="/">Gardes Médicales</a></li>
            <li><a href="/">Gardes Techniques</a></li>
            <li><a href="/">Gardes des Soins</a></li>
            <li><a href="/">Astreintes SSIAD</a></li>
            <li><a href="/">Garde de soins - site Le Rouvray</a></li>
        </ul>
    </div>
{% endblock %}
