
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
            <title>{% block title %}{% endblock %} - Planning CGA</title>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.css" integrity="sha256-16PDMvytZTH9heHu9KBPjzrFTaoner60bnABykjNiM0=" crossorigin="anonymous">
            {% block stylesheets %}

            {% endblock %}
        {% endblock %}
    </head>

    <body>
        <div id="navbar">
            {% block navbar %}
                <div class="navbar-up">
                    <ul id="nav-up">
                        <li><a href="/">Accueil  |</a></li>
                        {% if app.user %}
                            <li><a href="/logout">Deconnexion</a></li>
                        {% else %}
                            <li><a href="/login">Connexion</a></li>
                        {% endif %}
                    </ul>
                </div>

                <div class="wrapper">
                    <tr>
                        <td>
                            <div align="left">
                                <a href="/"><img class="logo-img" src="{{ asset('img/logo.png') }}" height="auto" width="150"></a>
                            </div>
                        </td>
                        <td>
                            <div class="header">
                                <h2><a href="/" class="brand-logo">Planning des Gardes</a></h2>
                                Centre de Gérontologie <br>
                                LES ABONDANCES - Boulogne-Billancourt
                            </div>
                        </td>
                    </tr>
                </div>
            {% endblock %}
        </div>

        <div id="content">
            {% block content %}<div class="navbar-sec">
                <ul id="nav-sec">
                    <li><a href="/">Planning Home</a></li>
                    <li><a href="/gadmin">Gardes Administratives</a></li>
                    <li><a href="/med">Gardes Médicales</a></li>
                    <li><a href="/tech">Gardes Techniques</a></li>
                    <li><a href="/soins">Gardes des Soins</a></li>
                    <li><a href="/ssiad">Astreintes SSIAD</a></li>
                    <li><a href="/rouvray">Garde de soins - site Le Rouvray</a></li>
                </ul>
            </div>{% endblock %}
        </div>

        {% block body %}{% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.js" integrity="sha256-PL1mKrYeZkM5SsJ5nydN6463HLkV918bgDdYL0I5Z+k=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>

        {% block javascripts %}
        {% endblock %}

        <div id="footer">
            {% block footer %}
                <br>
                &copy; Copyright 2021 by <a href="https://github.com/Pyxah">Laure Delachapelle</a>.
            {% endblock %}
        </div>
    </body>
</html>